@font-face { 
    font-family: "Mont";
    src: url("./assets/MontSemiBold.woff");
    src: url("./assets/MontSemiBold.eot?#iefix")format("embedded-opentype"),
    url("./assets/MontSemiBold.woff") format("woff"),
    url("./assets/MontSemiBold.ttf") format("truetype");
    font-weight: 700;
}

@font-face { 
    font-family: "Mont";
    src: url("./assets/MontHeavy.woff");
    src: url("./assets/MontHeavy.woff") format("woff");
    font-weight: 900;
}

* {
    font-family: 'Mont', sans-serif;
}

body, .game {
    overflow: hidden;
    font-family: 'Mont', sans-serif;
    box-sizing:border-box;

}

.w-icon {
    width: 38px;
}

.h-icon {
    height: 31px;
}

.lines {
    width: 72%;
    height: 100%;
    border: 1px solid #fff;
    position: absolute;
    z-index: 1000;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.lines::before {
    content: "";
    background: #fff;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.game {
    max-width: 430px;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    overflow: hidden;
    width: 100%;
    
    background: linear-gradient(180deg, #05122A 0%, #0B2658 100%);
    background-size: 100% 100%;
    top: 0;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.game::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: url(./assets/Component\ 5.png) no-repeat;
    background-size: 100% 100%;
    animation: bubbleAnimation 8s infinite ease-in-out;
}

.game::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/grid.svg) no-repeat;
    background-size: 100% 100%;
    animation: moveBg 8s linear infinite;
    z-index: -1;
}


.bg-first, .bg-second, .bg-third {
    position: absolute;
}

.bg-first {
    z-index: 20;
    bottom: 0;
}

.bg-second {
    bottom: -20px;
    z-index: 10;
}

.bg-third {
    bottom: -40px;
}

.diver {
    background-size: 50px 50px;
    position: absolute;
    z-index: 100;

    /* left: 50%; */
    bottom: -300px;

    width: 144px;
    height: 209px;

    transition: all 1s ease-in-out; 
    opacity: 0;
}

.diver.active {
    bottom: 5%;
    opacity: 1;
}

.diver img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.hidden {
    display: none;
}

.active-btn {
    position: absolute;
    bottom: 20px;
    z-index: 1001;
    width: 90%;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    height: 48px;
    background: #FF0000;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;   
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    outline: none;
}

.question-modal {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    max-width: 320px;
    left: 50%;
    transform: translateX(-50%);
}

.modal-content.question-modal {
    align-items: flex-start;
}

.question-modal ul {
    list-style: none;
    width: 100%;
}

/* .question-modal li input[type="radio"] {
    position: absolute;
    left: 0;
} */

.question-modal li span {
    width: 85%;
    margin-left: 20px;
}

input[type="radio"] {
    appearance: none;
    margin: 0;
    font: inherit;
    color: #fff;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
  
input[type="radio"]::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #FF0000;
}
  
input[type="radio"]:checked::before {
    transform: scale(1);
}

.answer-item {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #fff;
    background: none;
    border: none;
    padding: 10px 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    /* height: 92px; */
}

.question-modal p {
    margin-bottom: 40px;
    margin-top: 0;
    font-size: 14px;
}

.question-modal ul {
    margin: 0;
    padding: 0;
}

.points {
    width: 139px;
    height: 48px;
    z-index: 100000;
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    line-height: 42px;
    text-align: center;
    background: #0C1A33;
    border: 2px solid #253E6C;
    border-radius: 4px;
    display: flex;
    position: relative;
    align-items: center;
    /* padding: 0 15px 0 0; */
    box-sizing: border-box;
    justify-content: space-between;
}


.text {
    flex: 1;
    text-align: center;
}

.health {
    width: 84px;
    height: 48px;
    z-index: 100000;
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    line-height: 42px;
    text-align: center;
    background: #0C1A33;
    border: 2px solid #253E6C;
    border-radius: 4px;
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 15px 0 0;
    box-sizing: border-box;
    justify-content: space-between;
    margin-left: 42px;
}

.icon-heart {
    display: flex;
    align-items: center;
}


.icon-heart .icon {
    width: 30px;
    height: 26px;
}

.gamer-hp {
    flex: 1;
    text-align: center;
}

.banner {
    display: none;
    background: #fff;
    height: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner p .counter {
    background: #fff;
}

.banner.show {
    display: flex;
}

.banner p {
    background: #fff;
    text-align: center;
}

.fish {
    background-color: darkblue;
}

.hp {
    background-color: darkblue;
}

.gamer-hp, .hp {
    color: #fff;
}

.game__status-bar {
    position: absolute;
    z-index: 100;
    top: -5%;
    right: 20px;

    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    transition: all 1s ease-in-out;
    opacity: 0;
    
}

.game__status-bar.active {
/* .game__status-bar { */
    top: 20px;
    opacity: 1;
}

/* bubbles */

.fade {
    height: 100%;
    display: flex;
    position: absolute;
    top: 0px;
    width: 100%;
    justify-content: space-between;
    z-index: 1002;
    opacity: 0;
}

.correct {
    /* background-color: #d4edda;
    color: #155724; */
    position: relative;

}

.correct::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;

    background: linear-gradient(90deg, rgba(44, 81, 148, 0.0125) 0%, rgba(77, 255, 133, 0.25) 50.33%, rgba(44, 81, 148, 0.0125) 100%);
    /* transform: rotate(90deg); */

}

.incorrect {
    background-color: #f8d7da;
    color: #721c24;
}

#canvas1 {
    z-index: 15;
    position: relative;
}

#gameCanvas {
    height: 100%;
    max-width: 600px;
    width: 100%; 
}

.red-btn {
    height: 48px;
    background: #FF0000;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;   
    width: 207px; 
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    align-self: center;
    animation: pulse 1.5s infinite;
}

.dark-btn {
    border: 2px solid #253E6C;
    width: 207px;
    height: 48px;
    background: #0C1A33;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-align: center; 
    border-radius: 4px;
    text-transform: uppercase;
    margin-top: 40px;
}

.modal {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 80%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;

    background: url(./assets/bg-pattern.png) no-repeat;
    background-size: 100% 100%;
    top: 0;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.modal {
    background: linear-gradient(180deg, #05122A 0%, #0B2658 100%);
}

.modal::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: url(./assets/Component\ 5.png) no-repeat;
    background-size: 100% 100%;
    animation: bubbleAnimation 8s infinite ease-in-out;
}

.modal::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/grid.svg) no-repeat;
    background-size: 100% 100%;
    animation: moveBg 8s linear infinite;
    z-index: -2;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90px;
    width: 100%;
}

#canvas {
    position: relative;
    pointer-events: none;
    z-index: 1000;
}

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    /* max-width: 180px; */
}

.preview {
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
    text-align: left;
    color: #fff;
    display: flex;
   flex-direction: column;
   justify-content: center; 
   /* width: 80%; */
   margin-top: 0;
   margin-bottom: 0;
}

.preview-wrapper {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 46px;
}

.finish-modal .preview-wrapper {
    margin-top: 0;
    margin-bottom: 0;
}

.code {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: #DCA043;
    margin: 0;
}

.modal-content.question-modal {
    width: 90%;
}

.modal-content.question-modal .preview-wrapper {
    margin-top: 0;
    width: 100%;
}

.preview span {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #fff;;
}

#play-start {
    box-sizing: border-box;
    height: 48px;
    background: #FF0000;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: none;
    padding: 0 20px;
    width: fit-content;
}

.modal-content.start-modal {
    top: 50%;
    transform: translateY(-50%);
}


.bg-modal {
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 50%;
}

.finish-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: #fff;
    margin: 0;
    margin-bottom: 24px;
    width: 100%;
    max-width: 320px;
}

.finish-text {
    font-size: 15px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin: 0;
    width: 100%;
}

#play-again {
    margin-top: 34px;
    margin-bottom: 20px;
}

@keyframes bubbleAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes moveBg {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(20px, -30px);
    }
    50% {
        transform: translate(0, -10px);
    }
    75% {
        transform: translate(-20px, -30px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@media(max-width: 340px) {
    .preview-wrapper {
        overflow: auto;
        max-height: 25vh;   
    }

    .question-modal p {
        max-height: 20vh;
        overflow-y: auto;
    }

    .finish-text {
        max-width: 300px;
    }
}
