body, .fade, .game {
    background-color: darkblue;
}

.game {
    max-width: 400px;
    border: 3px solid #fff;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.text {
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-transform: uppercase;
}

.diver {
    width: 50px;
    height: 50px;
    background-image: url(./assets/runner.png);
    background-size: 50px 50px;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 20px;
    border: 1px solid silver;
    z-index: 100;
    background-color:#fff; 
}

.banner {
    display: none;
    background: #fff;
    height: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner p .counter {
    background: #fff;
}

.banner.show {
    display: flex;
}

.banner p {
    background: #fff;
    text-align: center;
}

.fish {
    background-color: darkblue;
}

.hp {
    background-color: darkblue;
}

.fish1 {
    width: 40px;
    height: 40px;
    background-image: url(./assets/barrier-obstacle-svgrepo-com.svg);
    background-size: 50px 50px;
    position: absolute;
    border: 1px solid silver;
    left: 450px;
}

.gamer-hp, .hp {
    color: #fff;
}

.fish-top {
    top: 100px;
}

.fish-middle {
    bottom: 50%;
    transform: translateY(50%);
}

.fish-bottom {
    bottom: 100px;
}

.fish2 {
    width: 80px;
    height: 40px;
    background-image: url(./assets/icons8-фонарь-80.png);
    background-size: 50px 50px;
    position: absolute;
    border: 1px solid silver;
    left: 450px;
}

.shark {
    width: 80px;
    height: 40px;
    background-image: url(./assets/1937f5133b7f7027e7b70f24fa815962.jpg);
    background-size: 50px 50px;
    position: absolute;
    border: 1px solid silver;
    left: 450px;
}

.bigger {
    width: 100px;
    height: 80px;
}

/* .buffer {
    width: 70px;
    border: 1px solid silver;
} */

/* bubbles */

.fade {
    height: 100%;
    display: flex;
    position: absolute;
    top: 0px;
    width: 100%;
    justify-content: space-between;
    z-index: 1000;
    opacity: 0;
}

canvas {
    width: 100%;
    height: 100%;
}

.modal {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 80%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



